@inject IHtmlLocalizer<ProgettoIUM.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (ProgettoIUM.Web.Areas.IdentitaViewModel)ViewData[ProgettoIUM.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas{
    @RenderSection("metas", false)
}
@section styles{
    @RenderSection("styles", false)
}
<div id="pageId" class="onit-page">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark onit-page-menu bg-white border-bottom shadow-sm py-2">
            <div class="container-fluid d-flex align-items-center">

                <div class="d-none d-lg-flex gap-4 flex-grow-1">
                    <a class="nav-link text-dark fw-light small" href="#">About</a>
                    <a class="nav-link text-dark fw-light small" href="#">Privacy</a>
                </div>

                <div class="flex-grow-1 text-center">
                    <a class="navbar-brand m-0" href="/">
                        <img class="onit-suites-logo" src="~/images/app-logo.png" style="height: 50px; width: auto;" alt="SEC-K-URE Systems" />
                    </a>
                </div>

                <div class="d-flex align-items-center justify-content-end flex-grow-1 gap-3">
                    @if (identitaCorrente == null)
                    {
                        @* Mostra lo scudo solo se l'utente NON è loggato *@
                        <a asp-controller="Login" asp-action="Login">
                            <i class="fa-solid fa-shield-halved text-dark fs-4"></i>
                        </a>
                    }
                    else
                    {
                        @* Mostra la porta per il logout rapido se l'utente È loggato *@
                        <a href="javascript:void(0)" onclick="document.getElementById('POST_LogOut').submit()" title="Esci">
                            <i class="fa-solid fa-right-from-bracket text-danger fs-4"></i>
                        </a>
                    }

                    <ul class="nav navbar-nav onit-page-menu-user">
                        @* ... qui rimane il tuo codice per il dropdown ... *@
                    </ul>
                </div>

                <button class="navbar-toggler text-dark border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </nav>
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>
@section googlehead{
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-', { 'anonymize_ip': true });    // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli tecnici ed evitare l'obbligo del banner
    </script>*@
    }
@section scripts{
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>

    @RenderSection("scripts", false)
}